Repository apimlett/chatbot: changes, and which Codecov flags are due for each by the changed paths.
All: client, server

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 75%
        threshold: 2%

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

ignore:
  - "**/*.test.js"
  - "**/*.spec.js"
  - "**/test/**"
  - "**/tests/**"
  - "**/coverage/**"
  - "**/dist/**"
  - "**/build/**"
  - "**/node_modules/**"

flags:
  client:
    paths:
      - client/src/
    carryforward: true
  server:
    paths:
      - server/
    carryforward: true

fix: Simplify Vercel deployment to avoid invalid project IDs
  .github/workflows/ci.yml
Due: none

fix: Remove invalid functions configuration from vercel.json
  client/vercel.json
Due: none

feat: Organize badges into clean table layout
  README.md
Due: none

docs: Update CLAUDE.md with documentation and design workflow notes
  CLAUDE.md
Due: none

feat: Add welcome screen with homepage and chat navigation
  client/src/App.test.js
  client/src/App.vue
  client/src/components/ChatMessage.vue
  client/src/components/HomePage.vue
  client/src/integration.test.js
  client/src/stores/chat.js
  client/src/test/components/ChatMessage.test.js
Due: client

feat: Transform to vanilla Vue.js + Express.js template
  client/package.json
  client/src/App.test.js
  client/src/App.vue
  client/src/components/ChatMessage.vue
  client/src/components/HomePage.vue
  client/src/integration.test.js
  client/src/stores/chat.js
  client/src/test/components/ChatMessage.test.js
Due: client

feat: Complete server transformation and CI/CD updates
  .github/workflows/ci.yml
  README.md
  server/index.js
  server/index.test.js
  server/package.json
Due: server

feat: Integrate Vuetify 3 Material Design UI framework
  client/package.json
  client/src/App.test.js
  client/src/App.vue
  client/src/main.js
  client/src/test/setup.js
  client/vitest.config.js
Due: client
